# Remember, the env file (in production) must have name '.env' 
# For using ENV file in Development Mode u can also use '.env.local'


# ENV VARIABLES:
AUTH_SECRET=min. 32 character random string
AUTH_DISCORD_ID=watch /configuration/readme.md for instructions
AUTH_DISCORD_SECRET=watch /configuration/readme.md for instructions
NEXTAUTH_URL=watch /configuration/readme.md for instructions

DISCORD_BOT_TOKEN=watch /configuration/readme.md for instructions
DISCORD_SERVER_ID=watch /configuration/readme.md for instructions

RCON_HOST=watch /configuration/readme.md for instructions
RCON_PORT=watch /configuration/readme.md for instructions
RCON_PASSWORD=watch /configuration/readme.md for instructions